---
---

$t26: "t26-carbon", sans-serif;
$sans: "effra", sans-serif;
$code: "Courier New", monospace;
$serif: "source-serif-pro", serif;
$dark: #414141;
$grey: #F7F9FA;
$link: #D93E3A;

@mixin ui {
	font-family: $t26;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 1px;
}

* {
	box-sizing: border-box;
}

a {
	color: $link;
	&:hover {
		text-decoration: none;
	}
}

img {
	max-width: 100%;
	height: auto;
}

body {
	font-family: $serif;
	font-size: 16px;
	@media screen and (min-width:702px) {
		font-size: 20px;
	}
	@media screen and (min-width:702px) {
		font-size: 23px;
	}
	color: $dark;
	line-height: 1.4;
	padding: 0 0 56px;
	margin: 0;
}

.ico-logo {
	background: url(../img/logo.svg) 0 0 no-repeat;
	height: 115px;
	width: 76px;
	display: none;
	@media screen and (min-width:702px) {
	  display: inline-block;
	}
}

.ico-logo-small {
	display: inline-block;
	background: url(../img/logo-small.svg) 0 0 no-repeat;
	height: 44px;
	width: 30px;
}

h1 {
	font-family: $sans;
	font-size: 2.43em;
	color: #414141;
	line-height: 1.2;
	font-weight: normal;
	span {
		color: $link;
		font-weight: 900;
	}
}

h2, h3, h4, h5, h6 {
	font-family: $sans;
	color: $link;
	font-size: 1em;
	margin-top: 2.2em;
}

p {
	font-size: 1em;
	margin-bottom: 1.6em;
}

.btn {
	display: inline-block;
	color: #fff;
	background: $link;
	@include ui;
	text-decoration: none;
	padding: 14px 24px;
	border: 2px solid $link;
	&:hover {
		color: $link;
		background: none;
	}
}

nav {
	border-bottom: 1px solid #D9D9D9;
	margin-bottom: 56px;
	@media screen and (min-width:702px) {
	  margin-bottom: 126px;
	}
	overflow: hidden;
	.bd-home & {
		@media screen and (min-width:702px) {
			display: none;
		}
	}
	&.nav-bottom {
		border-bottom: none;
		border-top: 1px solid #D9D9D9;
		margin-bottom: 0;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background: $grey;
		display: none;
		z-index: 1;
		.container {
			padding-left: 1em;
		}
		ul {
			margin: 0;
		}
		@media screen and (min-width:702px) {
		  display: block;
		}
	}
	.container {
		position: relative;
		@media screen and (max-width:940px) {
			padding-left: 80px;
		}
		@media screen and (max-width:701px) {
			ul {
				white-space: nowrap;
				overflow-x: auto;
				overflow-y: hidden;
				-webkit-overflow-scrolling: touch;
				max-width: none;
			}
		}
	}
	.home-link {
		position: absolute;
		z-index: 1;
		left: 0;
		background: $link;
		display: inline-block;
		vertical-align: middle;
		height: 81px;
		width: 58px;
		text-align: center;
		line-height: 114px;
	}
	ul {
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
		width: 100%;
		max-width: 741px;
		li {
			display: inline;
			@include ui;
			&:first-child {
				a {
					padding-left: 0;
				}
			}
			&:last-child {
				a {
					padding-right: 0;
				}
			}
			a {
				color: $dark;
				text-decoration: none;
				display: inline-block;
				padding: 29px 12px;
				@media screen and (min-width:662px) {
					padding: 29px 23px;
				}
				&.coming-soon {
					pointer-events: none;
					color: $dark;
					text-decoration: line-through;
				}
				&:hover, &:active, &.active {
					color: $link;
				}
			}
		}
	}
}

.container {
	max-width: 1228px;
	width: 100%;
	margin: 0 auto;
	padding: 0 26px;
}

.home-hero {
	margin-top: 7%;
	p {
		max-width: 620px;
	}
}

article {
	max-width: 741px;
	margin: 0 auto 96px;
	position: relative;
	&.post-article {
		h1 {
			margin-bottom: 16px;
		}
	}
	p {
		font-size: 0.87em;
		opacity: .7;
		&:first-of-type {
			font-size: 1em;
			opacity: 1;
		}
	}
}

.blog-posts {
	max-width: 741px;
	margin: 0 auto;
}

.case-studies {
	opacity: 1;
	margin-top: 56px;
	text-align: center;
	img {
		@media screen and (min-width:460px) {
			max-width: 365px;
		}
	}
}

.post-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	h2 {
		font-weight: normal;
		font-size: 1.26em;
		a {
			color: $dark;
			text-decoration: none;
		}
	}
	p {
		font-size: 0.87em;
		opacity: .7;
		&.read-more {
			font-size: 15px;
		}
	}
	li {
		margin-bottom: 96px;
	}
	time {
		margin-bottom: 26px;
	}
}

figure {
	margin: 0;
	figcaption {
		font-size: 0.87em;
		padding-top: 1em;
		&:after {
			content: '';
			border-bottom: 1px solid #D9D9D9;
			width: 168px;
			margin-top: 1em;
			display: block;
		}
	}
}

hr {
	max-width: 168px;
	border: none;
	border-bottom: 1px solid #D9D9D9;
	margin: 2.6em auto;
}

time, .read-more, .pagination {
	@include ui;
	margin-bottom: 56px;
	display: block;
	overflow: hidden;
	.next {
		float: right;
	}
}

.stamp {
	margin: 0 auto 96px;
	display: block;
	path {
		fill: $link;
	}
}

footer {
	clear: both;
	border-top: 1px solid #D9D9D9;
	padding: 16px 0;
	p {
		@include ui;
	}
}
