$a-spot-medium: 630px;
$a-spot-max: 920px;
$a-spot-full: 1140px;

.a-spot {
  margin: 0 auto;
  @media screen and (min-width:$a-spot-max) {
    max-width: none;

    .container {
      display: flex;
    }
  }

  .button {
    margin: 0 auto;
    @media screen and (min-width:$a-spot-medium) {
      margin: 0;

      &.-large {
        margin: 0 auto;
      }
    }
  }
  @media screen and (min-width:$a-spot-full) {
    .container {
      max-width: 1476px;
    }
  }
}

picture {
  @media screen and (min-width:$a-spot-full) {
    visibility: hidden;
  }

  img {
    display: block;
  }
}
