.button {
  border-radius: 100px;
  font-family: AvenirNext-DemiBold;
  font-size: 0.88em;
  color: #FFF;
  background: #EA7125;
  padding: 0.6em 1.6em;
  width: fit-content;

  &.-large {
    font-size: 1.13em;
    padding: 0.6em 3.8em;
  }

  &.-blue {
    background: #009DDB;
  }
}
