$promotions-medium: 630px;
$promotions-max: 920px;

.promotions {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  @media screen and (min-width:$promotions-medium) {
    justify-content: space-between;
  }

  &.-variant {
    > .card {
      background: #F6958F;
      border-radius: 10px;
      width: 100%;
      color: #FFF;
      height: calc(50vw - 0.6em);
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (min-width:$promotions-medium) {
        height: calc(33.3vw - 3.2em);
      }
      @media screen and (min-width:$promotions-max) {
        height: 243px;
      }
      position: relative;

      &:last-of-type {
        display: none;
        @media screen and (max-width:$promotions-medium) {
          display: flex;
        }
        @media screen and (min-width:$promotions-max) {
          display: flex;
        }
      }

      > .contents {
        > i {
          background-size: contain;
          max-width: 17vw;
        }

        > .title {
          font-family: AvenirNext-Medium;
          font-size: 1.31em;
          line-height: 1.29em;
          font-weight: normal;
          margin-bottom: 0.2em;
          @media screen and (min-width:$promotions-medium) {
            margin-top: 0.5em;
          }
          @media screen and (min-width:764px) {
            margin-top: 1em;
          }
        }

        > .description {
          font-size: 1em;
          line-height: 1.25em;
        }
      }
    }
  }

  > .card {
    text-align: center;
    max-width: calc(50% - 1em);
    margin-bottom: 1em;
    @media screen and (min-width:$promotions-medium) {
      max-width: calc(33.3% - 1em);
    }
    @media screen and (min-width:$promotions-max) {
      max-width: calc(25% - 1em);
    }

    &:last-of-type {
      display: none;
      @media screen and (max-width:$promotions-medium) {
        display: block;
      }
      @media screen and (min-width:$promotions-max) {
        display: block;
      }
    }

    > img {
      border-radius: 10px;
      display: block;
      margin-bottom: 1em;
    }

    > .title {
      font-family: AvenirNext-DemiBold;
      font-size: 1.13em;
      color: #004EBC;
      margin-bottom: 0.4em;
    }

    > .description {
      font-size: 0.94em;
      color: #666;
    }
  }
}
