@import 'components/_icons';
@import 'components/_button';
@import 'components/_a-spot';
@import 'components/_b-spot';
@import 'components/_large-card';
@import 'components/_small-card';
@import 'components/_promotions';

* {
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next", arial, sans-serif;
  line-height: 1.5;
  font-size: 12px;
  margin: 0;
  padding: 0;
  @media screen and (min-width:380px) {
    font-size: 14px;
  }
  @media screen and (min-width:658px) {
    font-size: 15px;
  }
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
