//
// Background Styles
//

.background {
  &-stars {
    background: url(../img/backgrounds/stars.jpg);
    &.-contain {
      background-size: contain;
    }
    &.-cover {
      background-size: cover;
    }
    &.-fixed {
      background-attachment: fixed;
    }
  }
}
