.breadcrumb {
  @extend .fontSize-extra-small;
  @extend .fontWeight-demi-bold;
  @extend .marginBottom-large;
  >ul>li {
    display: inline-block;
    >a {
      color: $grey;
      &:hover {
        color: darken($grey, 10);
        text-decoration: underline;
      }
    }
    &:after {
      color: $grey;
      content: ' › ';
    }
    &:last-of-type {
      &:after {
        display: none;
      }
    }
  }
}