.button {
  background-color: $dusty-orange;
  color: #fff;
  font-size: 1.125em;
  display: inline-block;
  @extend .fontWeight-demi;
  text-align: center;
  padding: 0.4em;
  border-radius: 2.6em;
  &.-blue {
    background-color: $secondary-blue;
    &:hover {
      background-color: darken($secondary-blue, 6%);
    }
  }
  &.-block {
    display: block;
  }
}