  <nav>
    <div class="container">
      <a class="home-link" href="{{ site.url }}"><img src="{{ 'img/jordan-moore.png' | prepend: site.url }}" alt="Jordan Moore"> <span class="mb-hide">Jordan Moore</span></a>
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li class="mb-hide"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
        <li class="mb-hide"><a href="http://twitter.com/jordanmoore">Twitter</a></li>
        <li><a href="mailto:madebyjordan@gmail.com?subject=[Enquiry]">Get in touch</a></li>
      </ul>
    </div>
    <!-- /.container -->
  </nav>
  <header>
    <div class="container">
      {% if page.title %}<p>{{ page.date | date: "%b %-d, %Y" }}</p>{% endif %}
      <h1>{% if page.title %}{{ page.title }}{% else %}Blog{% endif %}</h1>
    </div>
    <!-- /.container -->
  </header>