s<head>
  <meta charset="UTF-8">
  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=10, user-scalable=1">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ site.url }}/dist/styles/style.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <link rel="shortcut icon" href="https://jordanm.co.uk/img/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="https://jordanm.co.uk/img/apple-touch-icon-precomposed.png">

  <meta name="theme-color" content="#2e2626" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#000" media="(prefers-color-scheme: dark)">

  <meta property="og:site_name" content="Jordan Moore, Product Designer">
  <meta property="og:url" content="https://jordanm.co.uk/">
  <meta property="og:type" content="website">

  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:image" content="https://jordanm.co.uk/img/apple-touch-icon-precomposed.png">

  <meta property="twitter:title" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="https://jordanm.co.uk/img/apple-touch-icon-precomposed.png">
  <meta name="twitter:site" content="@jordanmoore">
  <meta name="twitter:creator" content="@jordanmoore">
</head>