<nav>
  <div class="container">
    <a href="/" class="home-link"><i class="ico-logo-small"></i></a>
    <ul>
      <li><a href="/">Home</a></li><!--
   --><li><a {% if page.permalink == '/case-studies/' %}class="active"{% endif %}href="/case-studies">Case Studies</a></li><!--
   --><li><a {% if page.permalink == '/design-philosophy/' %}class="active"{% endif %} href="/design-philosophy">Design Philosophy</a></li><!--
   --><li><a {% if page.url == '/blog/index.html' %}class="active"{% endif %} href="/blog">Blog</a></li><!--
   --><li><a href="mailto:madebyjordan@gmail.com">Contact</a></li>
    </ul>
  </div>
</nav>
