  <nav>
    <div class="container">
      <a class="home-link" href="{{ site.url }}"><img src="{{ '/img/logo.png' | prepend: site.url }}" alt="Jordan Moore"> <span class="mb-hide">Jordan Moore</span></a>
      <ul>
        <li><a class="active" href="{{ site.url }}">Home</a></li>
        <li><a href="/blog">Ideas &amp; Thinking</a></li>
        <li><a href="mailto:madebyjordan@gmail.com?subject=[Enquiry]">Get in touch</a></li>
        <li class="mb-hide"><a href="http://twitter.com/jordanmoore">Twitter</a></li>
      </ul>
    </div>
    <!-- /.container -->
  </nav>
  <header>
    <h1>Jordan Moore</h1>
    <p>Designer &bull; Thinker &bull; Maker</p>
    <p><a href="mailto:madebyjordan@gmail.com?subject=[Enquiry]" class="btn">Get in touch</a></p>
  </header>
