
<section>
    <footer>
        <div class="container">
            
            
            <div class="footer-col copyright">
                <p><span>&copy; Jordan Moore 2020</span></p>
            </div>
            
            <nav>
                <ul>
                    <!-- <li><a href="#start" {% if current[1] == '' %}class='active' {% endif %}>&larr; Start</a></li> -->
                    <li><a href="/bookshelf" {% if current[1] == 'bookshelf' %}class='active' {% endif %}>Bookshelf</a></li>
                    <li><a href="/lab" {% if current[1] == 'lab' %}class='active' {% endif %}>Lab</a></li>
                    <li><a href="http://jordanm.co.uk/feed.xml" class="-rss nav-mb-hide">Subscribe <i class="ico-rss"></i></a></li>
                </ul>
            </nav>
        </div>
    </footer>
</section>
