
<section>
    <footer>
        <div class="container">
            
            
            <div class="footer-col copyright">
                <p><span>&copy; Jordan Moore 2023</span></p>
            </div>
            
            <nav>
                <ul>
                    <!-- <li><a href="#start" {% if current[1] == '' %}class='active' {% endif %}>&larr; Start</a></li> -->
                    <!-- <li><a href="/bookshelf" {% if current[1] == 'bookshelf' %}class='active' {% endif %}>Bookshelf</a></li> -->
                    <li><a href="/lab" {% if current[1] == 'lab' %}class='active' {% endif %}>Projects</a></li>
                    <li><a href="https://jordanmoore.substack.com/" class="substack-link"><i class="ico-substack"></i> <span class="nav-mb-hide">Subscribe on </span>Substack</a></li>
                    <li><a href="https://jordanm.co.uk/feed.xml" class="-rss nav-mb-hide"><i class="ico-rss"></i> Subscribe</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</section>
<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js?ver=1.3.2'></script>
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js'></script>
<script>
$(document).ready(function() {
$('html, body, *').mousewheel(function(e, delta) {
this.scrollLeft -= (delta);
e.preventDefault();
});
});

</script>