  <nav>
    <div class="container">
      <a class="home-link" href="{{ site.url }}"><img src="{{ '/img/jordan-moore.png' | prepend: site.url }}" alt="Jordan Moore"> <span class="mb-hide">Jordan Moore</span></a>
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li class="mb-hide"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
        <li class="mb-hide"><a href="http://twitter.com/jordanmoore">Twitter</a></li>
        <li><a href="mailto:madebyjordan@gmail.com?subject=[Enquiry]">Get in touch</a></li>
      </ul>
    </div>
    <!-- /.container -->
  </nav>
  <header>
    <div class="container">
      <p>Hello, I'm Jordan.</p>
      <h1>I am a <strong>Responsive Web Design</strong> and <strong>User Experience specialist</strong> based in Northern Ireland helping businesses and individuals deliver value to their customers on a post-PC web</h1>
      <p class="action"><a href="mailto:madebyjordan@gmail.com?subject=[Enquiry]">Let&apos;s work together</a></p>
    </div>
    <!-- /.container -->
  </header>