{% assign current = page.url | downcase | split: '/' %}

<h1 class="logo"><a href="/"><span>Jordan Moore</span></a></h1>

<nav>
    <ul>
        <li><a href="/" {% if current[1] == '' %}class='active'{% endif %}>Home</a></li>
        <li><a href="/bookshelf" {% if current[1] == 'bookshelf' %}class='active'{% endif %}>Bookshelf</a></li>
        <li><a href="/lab" {% if current[1] == 'lab' %}class='active'{% endif %}>Lab</a></li>
        <li><a href="http://jordanm.co.uk/feed.xml" class="button -rss nav-mb-hide">Subscribe <i class="ico-rss"></i></a></li>
    </ul>
</nav>
