
<section>
    <footer>
        <div class="container">
            
            
            <div class="footer-col copyright">
                <p><span>&copy; Jordan Moore 2024</span></p>
            </div>
            
            <nav>
                <ul>
                    <!-- <li><a href="#start" {% if current[1] == '' %}class='active' {% endif %}>&larr; Start</a></li> -->
                    <!-- <li><a href="/bookshelf" {% if current[1] == 'bookshelf' %}class='active' {% endif %}>Bookshelf</a></li> -->
                    <!-- <li><a href="/lab" {% if current[1] == 'lab' %}class='active' {% endif %}>Projects</a></li> -->
                    <li><a href="/now" {% if current[1] == 'now' %}class='active' {% endif %}>Now</a></li>
                    <li><a href="https://www.x.com/jordanmoore">@jordanmoore</a></li>
                    <!-- <li><a href="https://jordanmoore.substack.com/" class="substack-link">Substack</a></li> -->
                    <li><a href="https://jordanm.co.uk/feed.xml" class="-rss nav-mb-hide"><i class="ico-rss"></i> Subscribe</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</section>