blockquote {
  font-style: italic;
  margin-bottom: 2.6em;
  border-left: 1px solid fade-out(#979797, 0.8);
  margin-left: 0;
  padding-left: 2.6em;
}

hr {
  border: none;
}

figure {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

figcaption {
  opacity: 0.6;
  text-transform: uppercase;
  font-size: 0.88em;
}

pre {
  white-space: pre-wrap;
}
