hr {
  border: none;
  border-bottom: 1px solid fade-out(#979797, 0.8);
}

blockquote {
  font-style: italic;
}

figure {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

figcaption {
  opacity: 0.6;
  text-transform: uppercase;
  font-size: 0.88em;
}
