---
layout: default
---

  <div class="col-2-3">
    <h2>Recent Articles</h2>
    <ul class="post-list">
      {% for post in paginator.posts %}
        <li>
          <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
          <p class="post-meta">{{ post.date | date: "%-d %B %Y" }}</p>
          <p>{{ post.summary }}</p>
          <p class="read-more"><a href="{{ post.url | prepend: site.baseurl }}">Read more &rarr;</a></p>
        </li>
      {% endfor %}
    </ul>

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">&larr; Newer Articles</a>
      {% endif %}
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Older Articles &rarr;</a>
      {% endif %}
    </div>

  </div><!-- 
  /.col-2-3
 --><div class="col-3">
 <div class="available-for-hire">
   <h2>Available for hire</h2>
   <p>Interested in working with me? Please <a href="mailo:madebyjordan@gmail.com">get in touch</a> for a chat.</p>
 </div>
 <!-- /.available-for-hire -->
  <div class="published-works">
    <h2>Published Works</h2>
    <div class="book">
      <div class="left"><img src="{{ 'img/smashing-book.jpg' | prepend: site.url }}" alt="An image of the front cover of Smashing Magazine's Responsive Web Design Vol.2"></div><!-- 
      /.left
     --><div class="right">
        <h3><a href="https://shop.smashingmagazine.com/responsive-web-design-vol-2.html">Responsible Considerations for Responsive Web Design</a></h3>
      </div>
      <!-- /.right -->
    </div>
    <!-- /.book -->
  </div>
  <!-- /.published-works -->
  </div>
  <!-- /.col-3 -->