---
layout: posts
title: Journal
---

<div class="blog-posts">

    <h1 class="header-tall center"><span>Journal</span></h1>

    <hr class="invisible">

    <ul class="post-list">
      {% for post in paginator.posts %}
        <li>
          <h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
          <p class="date"><time>
          {% assign d = post.date | date: "%-d"  %}
          {{ post.date | date: "%B" }}
          {% case d %}
            {% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, {{ post.date | date: "%Y" }}
          </time></p>
          <p>{{ post.summary }}</p>
          <p class="read-more"><a href="{{ post.url | prepend: site.baseurl }}">Read more &rarr;</a></p>
        </li>
      {% endfor %}
    </ul>

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">&larr; Newer Articles</a>
      {% endif %}
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Older Articles &rarr;</a>
      {% endif %}
    </div>
  <!-- /.container -->
</div>
