.ico-up-arrow {
  background: url(../img/icons/ico-up-arrow.svg) left center no-repeat;
}

.ico-down-arrow {
  background: url(../img/icons/ico-down-arrow.svg) left center no-repeat;
}

.ico-shipping-label {
  background: url(../img/icons/ico-shipping-label.svg) center center no-repeat;
  display: inline-block;
  width: 33px;
  height: 43px;
  vertical-align: text-bottom;
  +h2 {
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 62px);
    line-height: 1.2;
  }
}

.ico-drivers-licence {
  background: url(../img/icons/ico-drivers-licence.svg) center center no-repeat;
  width: 64px;
  height: 64px;
  display: inline-block;
  vertical-align: middle;
}

.ico-state-id {
  background: url(../img/icons/ico-state-id.svg) center center no-repeat;
  width: 64px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}
