//
// Contents
//
// 1. Containers
// 2. Margins
// 3. Padding
// 4. Columns
//
//
// 1. Containers
//
.container {
  margin: 0 auto;
  max-width: 1040px;
  @extend .paddingLeft;
  @extend .paddingRight;
  &.-wide {
    max-width: 1172px;
  }
}

//
// 2. Margins
//
.margin {
  margin: 1rem;
  &-small {
    margin: 0.5rem;
  }
  &-medium {
    margin: 2rem;
  }
  &-large {
    margin: 2.5rem;
  }
  &-extra-large {
    margin: 3rem;
  }
  &Bottom {
    margin-bottom: 1rem;
    &-small {
      margin-bottom: 0.5rem;
    }
    &-medium {
      margin-bottom: 2rem;
    }
    &-large {
      margin-bottom: 2.5rem;
    }
    &-extra-large {
      margin-bottom: 3rem;
    }
  }
  &Right {
    margin-right: 1rem;
    &-small {
      margin-right: 0.5rem;
    }
    &-medium {
      margin-right: 2rem;
    }
    &-large {
      margin-right: 2.5rem;
    }
    &-extra-large {
      margin-right: 3rem;
    }
  }
  &Top {
    margin-top: 1rem;
    &-small {
      margin-top: 0.5rem;
    }
    &-medium {
      margin-top: 2rem;
    }
    &-large {
      margin-top: 2.5rem;
    }
    &-extra-large {
      margin-top: 3rem;
    }
  }
  &Left {
    margin-left: 1rem;
    &-small {
      margin-left: 0.5rem;
    }
    &-medium {
      margin-left: 2rem;
    }
    &-large {
      margin-left: 2.5rem;
    }
    &-extra-large {
      margin-left: 3rem;
    }
  }
}

//
// 3. Padding
//
.padding {
  padding: 1rem;
  &-small {
    padding: 0.5rem;
  }
  &-medium {
    padding: 2rem;
  }
  &-large {
    padding: 2.5rem;
  }
  &-extra-large {
    padding-bottom: 3rem;
  }
  &Bottom {
    padding-bottom: 1rem;
    &-small {
      padding-bottom: 0.5rem;
    }
    &-medium {
      padding-bottom: 2rem;
    }
    &-large {
      padding-bottom: 2.5rem;
    }
    &-extra-large {
      padding-bottom: 3rem;
    }
  }
  &Top {
    padding-top: 1rem;
    &-small {
      padding-top: 0.5rem;
    }
    &-medium {
      padding-top: 2rem;
    }
    &-large {
      padding-top: 2.5rem;
    }
    &-extra-large {
      padding-top: 3rem;
    }
  }
  &Left {
    padding-left: 1rem;
    &-small {
      padding-left: 0.5rem;
    }
    &-medium {
      padding-left: 2rem;
    }
    &-large {
      padding-left: 2.5rem;
    }
    &-extra-large {
      padding-left: 3rem;
    }
  }
  &Right {
    padding-right: 1rem;
    &-small {
      padding-right: 0.5rem;
    }
    &-medium {
      padding-right: 2rem;
    }
    &-large {
      padding-right: 2.5rem;
    }
    &-extra-large {
      padding-right: 3rem;
    }
  }
}

//
// 4. Columns
//
.flexbox-grid {
  display: flex;
  .col-3 {
    max-width: 33.3%;
    margin-right: 2em;
  }
}

//
// 5. Display
//
.display {
  &-flex {
    display: flex;
  }
  &-inline-block {
    display: inline-block;
  }
}

.align-items {
  align-items: center;
}