@import 'reset';
@import 'layout';
@import 'typography';
@import 'colour';
@import 'icons';
@import 'components/_backgrounds';
@import 'components/_breadcrumb';
@import 'components/_button';
@import 'components/_count';
@import 'components/_heading-set';
@import 'components/or-circle';
@import 'components/_placeholder';
@import 'components/_return-instructions';
@import 'components/_return-wizard';
@import 'components/_what-to-bring'; // TODO Better way of doing this?
* {
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next", arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  @extend .secondary-blue;
}
