.article-content {
  padding-bottom: 6.18em;
  >h1,
  >h2,
  >h3,
  >h4,
  >h5,
  >h6 {
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  >p {
    margin-bottom: 1.8em;
    @media screen and (max-width: 746px) {
      text-align: justify;
    }
  }
  >hr {
    &:before {
      content: '';
      display: block;
      text-align: center;
      border-bottom: 1px solid #000;
      width: 41px;
      margin: 0 auto 1.6em;
    }
  }
  >p>img+em {
    // TODO just extend figcaption?
    text-transform: uppercase;
    opacity: 0.6;
    font-style: normal;
    font-size: 0.84em;
    display: block;
    text-align: center;
    margin-bottom: 2.6em;
  }
}