.header {
  padding-bottom: 2em;
  &:after {
    content: '';
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 41px;
  }
  >h1 {
    margin-bottom: 0;
    font-size: 1.6em;
    max-width: 21em;
    .homepage & {
      font-size: 1em;
    }
  }
  >p {
    opacity: 0.5;
    font-size: 0.88em;
    margin-bottom: 1.6em;
    .homepage & {
      margin-top: 0;
    }
  }
}