.post-list {
  list-style-type: none;
  margin-bottom: 6.18em;
  margin-left: auto;
  padding-left: 0;

  > li {
    margin-bottom: 2.6em;

    > h1 {
      font-size: 1.1em;
      margin-bottom: 0.1em;
    }

    > P {
      margin-top: 0;
      opacity: 0.6;
    }
  }
}
