.post-list {
  margin: 0;
  padding: 0;
  >li {
    list-style-type: none;
    margin-bottom: 2.618em;
    max-width: 21em;
  }
  >li>h1 {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 0;
    +p {
      margin-top: 0;
      opacity: 0.5;
      font-size: 0.88em;
    }
  }
}