.post-header {
  margin-bottom: 4.236em;
  padding-bottom: 2em;
  >h1 {
    margin-bottom: 0;
    font-size: 1.6em;
    max-width: 21em;
  }
  >p {
    opacity: 0.5;
    font-size: 0.88em;
    margin-bottom: 1.6em;
    .bd-home & {
      margin-top: 0;
    }
  }
}