<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div class="menu-overlay">
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Ideas &amp; Thinking</a></li>
        <li><a href="mailto:madebyjordan@gmail.com">Get in Touch</a></li>
        <li><a href="http://twitter.com/jordanmoore">Follow</a></li>
      </ul>
    </div>
    <a href="" class="ico-menu"></a>
    <a href="" class="ico-close"></a>
    <div class="container">
        {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
