<!DOCTYPE html>
<html class="bd-home">

  {% include head.html %}

  <body class="bd-home">

    <div class="cover">
      {% include header.html %}
      <div class="container">
        <h1><span class="heading-1"><img src="img/heading-1.png" alt="Product Designer"></span>
        <span class="heading-2"><img src="img/heading-2.png" alt="Design Thinker,"></span>
        <span class="heading-3"><img src="img/heading-3.png" alt="Doer."></span></h1>
        <p>It's my mission to work with people, brands and startups who exist to make the world a better place</p>
        <img src="/img/signature.png" class="signature" alt="Jordan's signature">
      </div>
    </div>

    <div class="container narrow">
      <p>Over the last ten years I have helped independent authors, healthcare suppliers, charities and special needs product manufacturers find their voice on the web and other digital platforms.
      <p>If you or your brand exists to do things that matter, to improve the world around us, to do better, then <a href="mailto:madebyjordan@gmail.com">I'd love to hear from you.</a></p>

      <hr>

      <h2>Recent projects</h2>

    </div>

    <div class="container">
      <div class="project lagom">
        <div class="content">
          <h3>Lagom Magazine</h3>
          <p>Print is far from dead, it's simply being selective about its audience. We live in a time where independent print publishers produce premium magazines appealing to collectors and enthusiasts.</p>
          <p>Alongside Elliot Jay Stocks I helped design, build and integrate with Craft CMS for Lagom's online presence.</p>
          <p><a href="http://www.readlagom.com">www.readlagom.com</a></p>
        </div>
        <div class="images">
          <img class="lagom-1" src="/img/lagom-1.jpg" alt="Lagom screenshot">
          <img class="lagom-2" src="/img/lagom-2.jpg" alt="Lagom screenshot">
        </div>
      </div>
      <!-- /.project -->
      <div class="project luha">
        <div class="content">
          <h3>LUHA&deg;</h3>
          <p>Print is far from dead, it's simply being selective about its audience. We live in a time where independent print publishers produce premium magazines appealing to collectors and enthusiasts.</p>
          <p>Alongside Elliot Jay Stocks I helped design, build and integrate with Craft CMS for Lagom's online presence.</p>
          <p><a href="http://www.luha.co">www.luha.co</a></p>
        </div>
        <div class="images">
          <img class="luha-1" src="/img/luha-1.jpg" alt="Luha screenshot">
          <img class="luha-2" src="/img/luha-2.png" alt="Luha screenshot">
        </div>
      </div>
      <!-- /.project -->
      <div class="project niice">
        <div class="content">
          <h3>Niice</h3>
          <p>Print is far from dead, it's simply being selective about its audience. We live in a time where independent print publishers produce premium magazines appealing to collectors and enthusiasts.</p>
          <p>Alongside Elliot Jay Stocks I helped design, build and integrate with Craft CMS for Lagom's online presence.</p>
          <p><a href="http://www.niice.co">www.niice.co</a></p>
        </div>
        <div class="images">
          <img class="niice-1" src="/img/niice-1.jpg" alt="Niice screenshot">
          <img class="niice-2" src="/img/niice-2.jpg" alt="Niice screenshot">
        </div>
      </div>
      <!-- /.project -->
    </div>

    {% include footer.html %}

  </body>

</html>
