<!DOCTYPE html>
<html>
{% include head.html %}

<body class="post">
  <header>
    <div class="container">
      {% include nav.html %}
    </div>
  </header>
  <article>
    <div class="container">
      <div class="text-align--center">
        <p class="date"><time>
          {% assign d = page.date | date: "%-d"  %}
          {{ page.date | date: "%B" }}
          {% case d %}
          {% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, {{ page.date | date: "%Y" }}
        </time></p>
        <h1 class="content-header">{{ page.title }}</h1>
      </div>
      <div class="content">
        {{ content }}
      </div>
    </div>
  </article>
  {% include footer.html %}




</body>

</html>
