---
layout: default
---
<div class="post">

<div class="col-2-3">
  <article class="post-content">
    {{ content }}
  </article>
</div><!-- 
/.col-2-3
 --><div class="col-3">
  <div class="featured-articles">
    <h2>Featured Articles</h2>
    <ul>
      <li>
        <h3><a href="http://jordanm.co.uk/2014/07/31/how-i-test-type-and-layout.html">How I Test Typography and Layout for Mobile Devices</a></h3>
        <p>Owning a set of mobile devices for testing has its benefits, but not necessarily for finding layout bugs. A varied set of screen densities however is invaluable for testing readability.</p>
      </li>
      <li>
        <h3><a href="http://jordanm.co.uk/2013/06/17/building-for-content-choreography-using-flexbox.html">Building for Content Choreography with Flexbox</a></h3>
        <p>The popular article featured in books that demonstrated a way for organising and rearranging content for small screens all the way up to large screens.</p>
      </li>
    </ul>
  </div>
  <!-- /.featured-articles -->
  <div class="published-works">
    <h2>Published Works</h2>
    <div class="book">
      <div class="left"><img src="{{ 'img/smashing-book.jpg' | prepend: site.url }}" alt="An image of the front cover of Smashing Magazine's Responsive Web Design Vol.2"></div><!-- 
      /.left
     --><div class="right">
        <h3><a href="https://shop.smashingmagazine.com/responsive-web-design-vol-2.html">Responsible Considerations for Responsive Web Design</a></h3>
        <p>I authored a chapter regarding advanced methods and techniques for going the extra mile with Responsive Web Design for Smashing Magazine's Responsive Web Design Vol.2 book</p>
      </div>
      <!-- /.right -->
    </div>
    <!-- /.book -->
  </div>
  <!-- /.published-works -->
  </div>
  <!-- /.col-3 -->

</div>
